.sidebar {
    border-right: 1px solid #F3F3F7;
    padding: 20px 50px 20px 50px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
}

@media only screen 
and (min-device-width: 100px) 
and (max-device-width: 600px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .sidebar{
        display: none;
    }
}